@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rosario:700&display=swap);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "DM Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "DM Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  outline: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 77.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.logo {
  font-family: "Rosario";
  font-weight: 700;
  color: #222222;
  line-height: 1.4;
}
@media (min-width: 79.375em) {
  .logo {
    font-size: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .logo {
    font-size: clamp( 1.5625rem , 0.6151315789rem  +  4.7368421053vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .logo {
    font-size: 1.5625rem;
  }
}

.header {
  background-color: #fff;
}
@media (min-width: 79.375em) {
  .header {
    padding-top: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .header {
    padding-top: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 2.8125rem );
  }
}
@media (max-width: 20em) {
  .header {
    padding-top: 1.25rem;
  }
}
@media (min-width: 79.375em) {
  .header {
    padding-bottom: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .header {
    padding-bottom: clamp( 1.25rem , 0.7236842105rem  +  2.6315789474vw , 2.8125rem );
  }
}
@media (max-width: 20em) {
  .header {
    padding-bottom: 1.25rem;
  }
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 56px 1fr;
  column-gap: 15px;
  min-height: 56px;
  align-content: center;
}
@media (max-width: 47.99875em) {
  .header__container {
    grid-template-columns: 30px 56px 1fr;
  }
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__logo {
  justify-self: center;
  position: relative;
  z-index: 2;
}
.header__registered {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (min-width: 79.375em) {
  .header__registered {
    column-gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .header__registered {
    column-gap: clamp( 0.625rem , 0.4144736842rem  +  1.0526315789vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .header__registered {
    column-gap: 0.625rem;
  }
}
@media (any-hover: hover) {
  .header__search:hover {
    transform: scale(1.2);
    transition: all 0.1s ease 0s;
  }
}
@media (any-hover: hover) {
  .header__cart:hover {
    transform: scale(1.2);
    transition: all 0.1s ease 0s;
  }
}
.header__btn {
  min-height: 40px;
  padding: 10px 23px;
  background: #09a66d;
  border-radius: 8px;
  line-height: 20px;
  color: #ffffff;
}
@media (max-width: 29.99875em) {
  .header__btn {
    transform: translate(0, -15px);
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.95);
  }
}
@media (max-width: 61.99875em) and (min-width: 79.375em) {
  .menu__body {
    padding-top: 9.375rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .menu__body {
    padding-top: clamp( 7.125rem , 6.3671052632rem  +  3.7894736842vw , 9.375rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 7.125rem;
  }
}
@media (max-width: 61.99875em) {
  .menu-open .menu__body {
    top: 0;
  }
}
@media (max-width: 61.99875em) {
  .menu__body::before {
    content: "";
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
}
@media (max-width: 61.99875em) and (min-width: 79.375em) {
  .menu__body::before {
    height: 8.25rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .menu__body::before {
    height: clamp( 6rem , 5.2421052632rem  +  3.7894736842vw , 8.25rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu__body::before {
    height: 6rem;
  }
}
@media (max-width: 61.99875em) {
  .menu-open .menu__body::before {
    top: 0;
  }
}
@media (min-width: 61.99875em) {
  .menu__list {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 61.99875em) and (min-width: 79.375em) {
  .menu__list {
    column-gap: 2.5rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 20em) and (max-width: 79.375em) {
  .menu__list {
    column-gap: clamp( 0.625rem , -0.0065789474rem  +  3.1578947368vw , 2.5rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 20em) {
  .menu__list {
    column-gap: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    text-align: center;
    font-size: 25px;
  }
  .menu__list > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (any-hover: hover) {
  .menu__item:hover {
    transform: scale(1.2);
    transition: all 0.1s ease 0s;
  }
}
.menu__link {
  line-height: 1.33;
  color: #222222;
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  background: #fcfefd;
}
@media (min-width: 79.375em) {
  .footer {
    padding-top: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .footer {
    padding-top: clamp( 1.25rem , 0.2394736842rem  +  5.0526315789vw , 4.25rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 1.25rem;
  }
}
@media (min-width: 79.375em) {
  .footer {
    padding-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .footer {
    padding-bottom: clamp( 2.5rem , 0.8157894737rem  +  8.4210526316vw , 7.5rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 61.99875em) {
  .footer__container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 15px;
  }
}
.footer__img {
  display: inline-flex;
  min-height: 70px;
}
@media (min-width: 79.375em) {
  .footer__img {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .footer__img {
    margin-bottom: clamp( 1.5625rem , 1.2467105263rem  +  1.5789473684vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .footer__img {
    margin-bottom: 1.5625rem;
  }
}
.footer__text {
  line-height: 1.7;
  color: #555555;
}
@media (min-width: 61.99875em) {
  .footer__text {
    max-width: 345px;
  }
}
.footer__block-name {
  min-height: 70px;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #222222;
}
@media (min-width: 79.375em) {
  .footer__block-name {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .footer__block-name {
    margin-bottom: clamp( 1.5625rem , 1.2467105263rem  +  1.5789473684vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .footer__block-name {
    margin-bottom: 1.5625rem;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 25px;
}
.footer__linck {
  color: #555555;
}
@media (any-hover: hover) {
  .footer__linck:hover {
    text-decoration: underline;
  }
}
.footer__mail {
  margin-bottom: 25px;
}
.footer__linck-mail {
  color: #222222;
}
@media (any-hover: hover) {
  .footer__linck-mail:hover {
    text-decoration: underline;
  }
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social > *:not(:last-child) {
  margin-right: 50px;
}
.footer__social-page {
  padding: 5px;
}

.fruit {
  background: url("../img/fruit/top-decor.png") 0 -10px no-repeat #f3fbf8;
}
@media (min-width: 79.375em) {
  .fruit {
    padding-top: 5.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .fruit {
    padding-top: clamp( 2.5rem , 1.4052631579rem  +  5.4736842105vw , 5.75rem );
  }
}
@media (max-width: 20em) {
  .fruit {
    padding-top: 2.5rem;
  }
}
@media (min-width: 79.375em) {
  .fruit {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .fruit {
    padding-bottom: clamp( 1.25rem , 0.6184210526rem  +  3.1578947368vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .fruit {
    padding-bottom: 1.25rem;
  }
}
.fruit__top {
  text-align: center;
}
.fruit__logo {
  margin-bottom: 20px;
}
.fruit__text {
  max-width: 637px;
  margin: 0px auto 0px auto;
  line-height: 1.6;
  color: #555555;
}
@media (min-width: 79.375em) {
  .fruit__text {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .fruit__text {
    margin-bottom: clamp( 1.5625rem , 1.2467105263rem  +  1.5789473684vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .fruit__text {
    margin-bottom: 1.5625rem;
  }
}
.fruit__linck, .special__linck {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.fruit__bottom {
  background: url("../img/fruit/food-bg.png") 0 0/contain no-repeat #f3fbf8;
  padding-top: 40px;
}
@media (max-width: 47.99875em) {
  .fruit__bottom {
    background: url("../img/fruit/food-bg.png") 0 50%/contain no-repeat #f3fbf8;
  }
}
.fruit__info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 79.375em) {
  .fruit__info-block {
    row-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .fruit__info-block {
    row-gap: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .fruit__info-block {
    row-gap: 1.25rem;
  }
}
.item-fruit {
  background-color: #fff;
  padding: 17px 46px 17px 33px;
  display: flex;
  width: 100%;
  max-width: 250px;
  column-gap: 15px;
}
.item-fruit__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-fruit__many {
  color: #000000;
  margin-bottom: 5px;
}
@media (min-width: 79.375em) {
  .item-fruit__many {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .item-fruit__many {
    font-size: clamp( 1.5625rem , 1.0782894737rem  +  2.4210526316vw , 3rem );
  }
}
@media (max-width: 20em) {
  .item-fruit__many {
    font-size: 1.5625rem;
  }
}
.item-fruit__name {
  line-height: 1.7;
  color: #000000;
}

.best {
  background: url("../img/best/decor.svg") 100% -15px no-repeat;
}
@media (min-width: 79.375em) {
  .best {
    padding-top: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .best {
    padding-top: clamp( 2.5rem , 0.3947368421rem  +  10.5263157895vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .best {
    padding-top: 2.5rem;
  }
}
@media (min-width: 79.375em) {
  .best {
    padding-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .best {
    padding-bottom: clamp( 2.5rem , 0.3947368421rem  +  10.5263157895vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .best {
    padding-bottom: 2.5rem;
  }
}
.best__logo {
  margin-bottom: 20px;
}
.best__text {
  line-height: 1.7;
  color: #555555;
  max-width: 637px;
  margin-bottom: 10px;
}
@media (min-width: 61.99875em) {
  .best__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 61.99875em) and (min-width: 77.5em) {
  .best__bottom {
    column-gap: 2.5rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 62em) and (max-width: 77.5em) {
  .best__bottom {
    column-gap: clamp( 0.9375rem , -5.3125rem  +  10.0806451613vw , 2.5rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 62em) {
  .best__bottom {
    column-gap: 0.9375rem;
  }
}
.best__item {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 10px;
  align-items: start;
}
@media (min-width: 62em) {
  .best__item {
    padding-left: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 62em) {
  .best__item {
    padding-left: clamp( 0rem , -1.7857142857rem  +  8.9285714286vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .best__item {
    padding-left: 0rem;
  }
}
@media (min-width: 62em) {
  .best__item {
    padding-right: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 62em) {
  .best__item {
    padding-right: clamp( 0rem , -1.7857142857rem  +  8.9285714286vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .best__item {
    padding-right: 0rem;
  }
}
@media (min-width: 62em) {
  .best__item {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 62em) {
  .best__item {
    padding-top: clamp( 0.9375rem , 0.193452381rem  +  3.7202380952vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .best__item {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 62em) {
  .best__item {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 62em) {
  .best__item {
    padding-bottom: clamp( 0.9375rem , 0.193452381rem  +  3.7202380952vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .best__item {
    padding-bottom: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .best__item:hover {
    background: #f3fbf8;
    transition: all 0.5s ease 0s;
  }
  .best__item:hover .best__icon-wrap {
    background: #fff;
    transition: all 0.5s ease 0s;
  }
  .best__item:hover .best__item-name {
    text-decoration: underline;
    transition: all 0.5s ease 0s;
  }
}
.best__icon-wrap {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  background: #f3fbf8;
}
.best__item-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #222222;
  margin-bottom: 8px;
}
.best__img {
  position: relative;
  padding-bottom: 100%;
}
.best__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.special {
  background: url("../img/fruit/top-decor.png") 100% 100% no-repeat rgba(9, 166, 109, 0.05);
}
@media (min-width: 79.375em) {
  .special {
    padding-top: 5.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .special {
    padding-top: clamp( 1.875rem , 0.6539473684rem  +  6.1052631579vw , 5.5rem );
  }
}
@media (max-width: 20em) {
  .special {
    padding-top: 1.875rem;
  }
}
@media (min-width: 79.375em) {
  .special {
    padding-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .special {
    padding-bottom: clamp( 2.5rem , 0.3947368421rem  +  10.5263157895vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .special {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 47.99875em) {
  .special__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
}
@media (max-width: 47.99875em) {
  .special__container {
    text-align: center;
  }
  .special__container > *:not(:last-child) {
    margin-bottom: 35px;
  }
}
.special__wrap-img {
  position: relative;
  padding-bottom: 100%;
}
.special__image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.special__logo {
  margin-bottom: 20px;
}
.special__text {
  line-height: 1.7;
  color: #555555;
}
@media (min-width: 79.375em) {
  .special__text {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .special__text {
    margin-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .special__text {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 47.99875em) {
  .special__linck {
    justify-self: start;
  }
}
@media (min-width: 79.375em) {
  .castomer {
    padding-top: 6rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .castomer {
    padding-top: clamp( 1.875rem , 0.4855263158rem  +  6.9473684211vw , 6rem );
  }
}
@media (max-width: 20em) {
  .castomer {
    padding-top: 1.875rem;
  }
}
@media (min-width: 77.5em) {
  .castomer {
    margin-bottom: 9.375rem;
  }
}
@media (min-width: 48em) and (max-width: 77.5em) {
  .castomer {
    margin-bottom: clamp( 1.875rem , -10.3283898305rem  +  25.4237288136vw , 9.375rem );
  }
}
@media (max-width: 48em) {
  .castomer {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 61.99875em) {
  .castomer__container {
    display: grid;
    grid-template-columns: 55% 1fr;
    column-gap: 40px;
  }
}
@media (max-width: 61.99875em) {
  .castomer__container > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 79.375em) {
  .castomer__logo {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .castomer__logo {
    margin-bottom: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .castomer__logo {
    margin-bottom: 1.25rem;
  }
}
.castomer__text {
  line-height: 1.7;
  color: #555555;
  max-width: 586px;
}
@media (max-width: 61.99875em) {
  .castomer__text {
    max-width: none;
  }
}
.castomer__name {
  color: #222222;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 79.375em) {
  .castomer__name {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .castomer__name {
    font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .castomer__name {
    font-size: 1.25rem;
  }
}
.castomer__img {
  position: relative;
  padding-bottom: 100%;
}
.castomer__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

@media (min-width: 79.375em) {
  .simple {
    padding-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .simple {
    padding-bottom: clamp( 2.5rem , 0.3947368421rem  +  10.5263157895vw , 8.75rem );
  }
}
@media (max-width: 20em) {
  .simple {
    padding-bottom: 2.5rem;
  }
}
.simple__container-small {
  max-width: 1040px;
  margin: 0px auto 0px auto;
  padding: 0 15px;
}
@media (min-width: 47.99875em) {
  .simple__container-small {
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: start;
  }
}
@media (min-width: 47.99875em) and (min-width: 65em) {
  .simple__container-small {
    column-gap: 6.875rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 65em) {
  .simple__container-small {
    column-gap: clamp( 0.9375rem , -15.8272058824rem  +  34.9264705882vw , 6.875rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 48em) {
  .simple__container-small {
    column-gap: 0.9375rem;
  }
}
.simple__img-wrap {
  position: relative;
  padding-bottom: 187%;
}
@media (max-width: 47.99875em) {
  .simple__img-wrap {
    max-width: 400px;
    margin: 0px auto 0px auto;
    padding-bottom: 100%;
    margin-bottom: 30px;
  }
}
.simple__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.simple__btn {
  background: #f3fbf8;
  border-radius: 50px;
  color: #333333;
  padding: 0 24px;
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
}
.simple__logo {
  margin-bottom: 20px;
}
.simple__text {
  line-height: 1.7;
  color: #555555;
}
@media (min-width: 79.375em) {
  .simple__text {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .simple__text {
    margin-bottom: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .simple__text {
    margin-bottom: 1.875rem;
  }
}
.simple__lincks > *:not(:last-child) {
  margin-right: 25px;
}
